$center-align: center;

.center-aligned-item-container {
    @include flex();
    @include flex-align-items($center-align);
    justify-content: $center-align;
    & > :first-child {
        max-width: 80%;
    }
}

.content {
    max-width: 1128px;
    margin: 0 auto;
}
